<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none me-5">
          <i class="bi bi-shop-window "></i>   <span class="ml-2">AJCSPORT</span> 
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a  routerLink="/acceuil" class="nav-link px-2 link-secondary">Acceuil</a></li>
          <li><a  routerLink="/Hommes" class="nav-link px-2 link-dark">Hommes</a></li>
          <li><a  routerLink="/Femmes"class="nav-link px-2 link-dark">Femmes</a></li>
        
        </ul>

     

      
            <!-- ... Autres éléments du header ... -->
<div class="order-lg-last col-lg-5 col-sm-8 col-8">
<form class="d-flex float-end">
    
    
        <button  routerLink="/login" *ngIf="!isAuth"class="btn btn-outline-dark me-2" >
            <i class="bi bi-person-fill"></i> 
            Login
          
          </button>
          <button  *ngIf="isAuth"class="btn btn-outline-dark me-2" routerLink="/acceuil" (click)="deconnexion()" >
            <i class="bi bi-person-fill"  ></i> 
            Log out
          
          </button>
   
        

        <button  routerLink="/wishlist"  *ngIf="isAuth" class="btn btn-outline-dark me-2" >
            <i class="bi bi-heart"></i>
            Wishlist
          
          </button>
         
    <button class="btn btn-outline-dark me-2" (click)="toggleCart()" type="button">
     
     
     
      <i class="bi-cart-fill me-1"></i>
      Panier
      <span class="badge bg-dark text-white ms-1 rounded-pill"  *ngIf="isAuth" >{{ cartItems.length }}</span>
    </button>
     <div *ngIf="isAuth"><a routerLink="/historiqueCommande" class="nav-link px-2 link-dark"> Historique</a></div> 
     <div *ngIf="isAuth"><a class="nav-link px-2 link-dark"> Bonjour,{{utilisateur?.nom}}</a></div> 






  </form>
  </div>
  
  <!-- Panier qui s'ouvre à droite -->
  <div class="cart-sidebar" [ngClass]="{'open': isCartOpen}" >
    <!-- Contenu du panier ici -->
    <div class="offcanvas-header border-btm-black">
        <h5 class="cart-drawer-heading text_16  ">Votre panier</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" (click)="closeCart()" ></button>
      </div>
<hr>
   
   <div class="minicart-item d-flex">
          <div class="product-info" *ngIf="isAuth"  >
          
            <div class="product-title" *ngFor="let article of cartItems"   >
            <div class="mini-img-wrapper">
              <img class="mini-img" style="width: 50px; height: 50px;" [src]="'/assets/' + article.categorie + '/'+article.image"alt="img">
          </div>
          {{article.nom}}
                <input type="number" min="1"   class=" form-control-sm" [(ngModel)]="article.quantite">
                <p class="product-price product-remove-area d-flex flex-column align-items-end" > {{article.prix}}</p>
               
                <span style="color: rgb(13, 13, 14); cursor: pointer; text-align: right;" (click)="removeItem(article)">Supprimer</span>
            </div>
     
        <div class="minicart-footer">
          <div class="minicart-calc-area">
            
              
              <div class="minicart-btn-area d-flex align-items-center justify-content-between">
         
                <button type="button" class="btn btn-dark" routerLink="detailcommande"  >Commander</button>
                
              </div>
          </div>
     
      </div>
                  
   </div>
      
   
   
  <div *ngIf="commandeEffectuee" class="alert alert-success" role="alert">
    Commande passée avec succès! Merci pour votre achat.
  </div>
       
    <!-- <div class="cart-content">
    
      
      <ul>
        <li *ngFor="let article of cartItems">{{article.nom}} - {{article.prix}}</li>
      </ul>

   
      <button type="button" class="btn btn-dark" (click)="creerCommande()" >Commander</button>
   
     
      <button type="button" class="btn btn-dark" (click)="closeCart()" >Fermer le panier</button>
    </div>
  </div> -->
  
  <!-- ... Autres éléments du header ... -->
  