<section class="vh-100" style="background-color: #ece1e3;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="../../assets/login.jpg"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Connectez-vous à votre compte</h5>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" >login</label>
                      <input type="text" id="login" class="form-control form-control-lg" [(ngModel)]="connexion.login"/>
                    </div>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" >Password</label>
                      <input type="password" id="login" class="form-control form-control-lg" [(ngModel)]="connexion.password" />
                    </div>

                    <div class="pt-1 mb-4">
                      <div *ngIf="showError" class="alert alert-danger"> Votre mot de passe est incorrect</div>
                      <div *ngIf="showErrorPasw" class="alert alert-danger"> Nous ne trouvons pas de compte avec ce login</div>
                    </div>

                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="button" (click)="login()">se connecter</button>
                    </div>
  
                    <a class="small text-muted" href="/update">mot de passe oublié?</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Je n'ai pas de compte? <a href="/inscription"
                        style="color: #393f81;">Inscrivez-vous ici</a></p>
                        <a class="mb-5 pb-lg-2" style="color: #393f81;" href="http://localhost:63685/Admin/Clients">Vous etes Admin? </a>
                        
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
