

<section class="py-5 text-center container"    style="padding-top: -18rem!important;" >
 
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Hommes</h1>
        <p class="lead text-muted">AJCSPORT te présente sa collection  pour homme. Déclinées dans une large gamme de modèles et de coloris, elles t'accompagnent dans toutes tes activités et se combinent avec toutes tes tenues ! .</p>
       
      </div>
    
  </section>

  <div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let article of articles">
        <!-- Ajoutez une condition *ngIf pour filtrer par catégorie -->
        <div *ngIf="article.categorie === 'Hommes'">
          <div class="card shadow-sm">
            <img class="img-fluid  my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" [src]="'/assets/Hommes/'+article.image"  />
              <title>Placeholder</title>
          
             
          

            <div class="card-body">
              <p class="card-text fw-light">{{article.nom}}</p> <hr><span>{{article.description}}</span>
         
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="ajouterAuPanier(article)">Ajouter au panier</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addToWishlist(article)" ><i class="bi bi-heart"  ></i></button>
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <!-- Fin de la condition *ngIf -->
      </div>
    </div>
  </div>
</div>