<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner h-100">
        <div class="carousel-item ">
            <video
                src="https://videos.adidas.com/video/upload/if_w_gt_1920,w_1920/adidas_ss24_zne_launch_hp_mh_d_79c245805c.mp4"
                preload="auto" autoplay="" loop="" playsinline="" webkit-playsinline="" x5-playsinline=""
                style="width: 100%; height: 100%;"></video>
        </div>
        <div class="carousel-item active  h-100">

            <img src="assets/caroussel1.jpg" class="d-block w-100 h-100" alt="..."
                style="max-height: 100vh; object-fit: cover;">
        </div>



        <div class="carousel-item active  h-100">
            <img src="assets/caroussel3.jpg" class="d-block w-100 h-100" alt="..."
                style="max-height: 100vh; object-fit: cover;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="grid-container cms-component-list_banner-bottom-margin__Cdd7G " >
    <section
        class="_main_1ps7q_185 _dynamic_1ps7q_160 color-theme-black _text-justify-left_1ps7q_350 content-vertical-align-left _banner_1ps7q_321"
        data-auto-id="banner-body">
        <div class="_fill-image_1vzbp_1  h-100" data-auto-id="picture">
            <picture>
              <img
                    src="assets/image1.png"
 loading="lazy" fetchpriority="auto"  style=" object-fit: cover;">
            </picture>
        </div>
        <div class="_content_1ps7q_195 _body-position-left_1ps7q_455 grid-row no-gutters">
            <div class="_poster-content_1ps7q_337 col--mb-s-6 _center-aligned_1ps7q_353"
                data-auto-id="banner-group-summary">
                <div class="_title-summary-container_1ps7q_347">
                    <div>
                        <h2 class="_title_1ps7q_267 withhtml gl-heading--l" data-auto-id="banner-title">Des soldes MVP
                        </h2>
                    </div>
                    <div>
                        <div class="_summary_1ps7q_309 withhtml">
                            <p data-auto-id="banner-summary">Impose ton style MVP sur les terrains comme dans la rue
                                avec jusqu'à -50 % sur les chaussures et plus encore.</p>
                        </div>
                    </div>
                </div>
                <div class="cta-list-container">
                    <div class="_ctas_1ps7q_242 _left_1ps7q_249" data-auto-id="banner-cta-cta-1240">
                        <div class="gl-cta-wrapper gl-cta-wrapper--primary"><a href="/femmes-outlet"
                                class="gl-cta gl-cta--primary cta" uid="cta-1240"
                                data-tracking-link="SLOT-4-_-eu-eoss-horizontal-fw23-footwear-phase-hp-bnr-_-68062-_--_-SHOP-WOMEN-women-outlet-_-1240-_-cta-_-banner-68099"
                                data-pos="site_promotion|2"><span class="gl-cta__content">PRODUITS FEMMES</span><span
                                    aria-hidden="true" class="gl-icon__wrapper"><svg class="gl-icon gl-cta__icon"
                                        aria-hidden="true">
                                        <use xlink:href="#arrow-right-long"></use>
                                        <title>Arrow right long</title>
                                    </svg></span></a></div>
                    </div>
                    <div class="_ctas_1ps7q_242 _left_1ps7q_249" data-auto-id="banner-cta-cta-1191">
                        <div class="gl-cta-wrapper gl-cta-wrapper--primary"><a href="/hommes-outlet"
                                class="gl-cta gl-cta--primary cta" uid="cta-1191"
                                data-tracking-link="SLOT-4-_-eu-eoss-horizontal-fw23-footwear-phase-hp-bnr-_-68062-_--_-SHOP-MEN-men-outlet-_-1191-_-cta-_-banner-68099"
                                data-pos="site_promotion|3"><span class="gl-cta__content">PRODUITS HOMMES</span><span
                                    aria-hidden="true" class="gl-icon__wrapper"><svg class="gl-icon gl-cta__icon"
                                        aria-hidden="true">
                                        <use xlink:href="#arrow-right-long"></use>
                                        <title>Arrow right long</title>
                                    </svg></span></a></div>
                    </div>
                    <div class="_ctas_1ps7q_242 _left_1ps7q_249" data-auto-id="banner-cta-cta-1289">
                        <div class="gl-cta-wrapper gl-cta-wrapper--primary"><a href="/enfants-outlet"
                                class="gl-cta gl-cta--primary cta" uid="cta-1289"
                                data-tracking-link="SLOT-4-_-eu-eoss-horizontal-fw23-footwear-phase-hp-bnr-_-68062-_--_-SHOP-KIDS-kids-outlet-_-1289-_-cta-_-banner-68099"
                                data-pos="site_promotion|4"><span class="gl-cta__content">PRODUITS ENFANTS</span><span
                                    aria-hidden="true" class="gl-icon__wrapper"><svg class="gl-icon gl-cta__icon"
                                        aria-hidden="true">
                                        <use xlink:href="#arrow-right-long"></use>
                                        <title>Arrow right long</title>
                                    </svg></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="trusted-section-inner">
    <div class="container">
        <div class="row justify-content-center trusted-row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="trusted-badge bg-4 rounded">
                    <div class="trusted-icon">
                        <img class="icon-trusted" src="assets/img/trusted/4.png" alt="icon-1">
                    </div>
                    <div class="trusted-content">
                        <h1 class="heading_18 trusted-heading text-white">Free Shipping &amp; Return</h1>
                        <p class="text_16 trusted-subheading trusted-subheading-3">On all order over $99.00</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="trusted-badge bg-4 rounded">
                    <div class="trusted-icon">
                        <img class="icon-trusted" src="assets/img/trusted/5.png" alt="icon-2">
                    </div>
                    <div class="trusted-content">
                        <h1 class="heading_18 trusted-heading text-white">Customer Support 24/7</h1>
                        <p class="text_16 trusted-subheading trusted-subheading-3">Instant access to support</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="trusted-badge bg-4 rounded">
                    <div class="trusted-icon">
                        <img class="icon-trusted" src="assets/img/trusted/6.png" alt="icon-3">
                    </div>
                    <div class="trusted-content">
                        <h1 class="heading_18 trusted-heading text-white">100% Secure Payment</h1>
                        <p class="text_16 trusted-subheading trusted-subheading-3">We ensure secure payment!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>